.icon {
    opacity: 0.4;
   filter: alpha(opacity=40);
   zoom: .22;
   margin-right: 10vh;
   transition: opacity .3s;
}

.icon:hover {
    opacity: 1;
}

.js-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .3;
    margin-top: 2vh;
    margin-right: 3vh;
    transition: opacity .3s;
}

.js-icon:hover {
    opacity: 1;
}

.node-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .25;
    margin-right: 9vh;
    transition: opacity .3s;
}

.node-icon:hover {
    opacity: 1;
}

.css-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .62;
    transition: opacity .3s;
}

.css-icon:hover {
    opacity: 1;
}

.html-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .125;
    margin-top: 7vh;
    margin-left: 7vh;
    transition: opacity .3s;
}

.html-icon:hover {
    opacity: 1;
}

.react-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .3;
    /* margin-top: 7vh; */
    margin-right: 5vh;
    transition: opacity .3s;
}

.react-icon:hover {
    opacity: 1;
}

.java-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .045;
    margin-top: 7vh;
    margin-left: 7vh;
    transition: opacity .3s;
}

.java-icon:hover {
    opacity: 1;
}

.cplus-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .25;
    margin-top: 5vh;
    margin-left: 10vh;
    transition: opacity .3s;
}

.cplus-icon:hover {
    opacity: 1;
}

.python-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .075;
    margin-top: 5vh;
    margin-left: 25vh;
    transition: opacity .3s;
}

.python-icon:hover {
    opacity: 1;
}

.post-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: .075;
    margin-top: 5vh;
    margin-left: 25vh;
    transition: opacity .3s;
}

.post-icon:hover {
    opacity: 1;
}

.mongo-icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    zoom: 1.5;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: 6vh;
    transition: opacity .3s;

}

.mongo-icon:hover {
    opacity: 1;
}

.gcap-icon {
    zoom: .1;
    -webkit-mask: no-repeat center;
    mask: no-repeat center;
}
